streamlit>=1.48.1
pandas>=2.2
numpy>=2.2
scikit-learn>=1.7
xgboost>=3.0
plotly>=6.0
pyarrow>=18.0
shap>=0.48
matplotlib>=3.10
google-generativeai>=0.8.5
joblib>=1.5
tqdm>=4.67
requests>=2.32
cloudpickle>=3.1
